<h2 class="logIn">New Posts</h2>

<div class="new_post">
<%= bootstrap_form_for [@city, @post]  do |f| %>
  <div class="field">
    <%= f.text_field :title %>
    <%= @post.errors.full_messages.first if @post.errors.any? %>
  </div>

  <div class="field">
    <%= f.text_field :content %>
    <%= @post.errors.full_messages.first if @post.errors.any? %>
  </div>

  <div class="actions">
    <%= f.submit "Add new post" %>
  </div>
<% end %>
</div>
