<h1><%= @post.title %></h1>
<p><%= @post.content %></p>
<!-- photo add columns/stylize -->
<h2><%= @user.username %></h2>
<h2><%= @user.created_at.to_date %></h2>
<h2><%= @user.current_city %></h2>
<%= button_to "Edit Post", edit_city_post_path(@post.id), :method => "get" %>
