<%= stylesheet_link_tag 'cities-show.css.scss' %>

<h1>Cities Show Page</h1>

<div class="cityHeader">
	<h1><%= @city.name %>, <%= @city.location %></h1>
	<%= button_to "Add Post", new_city_post_path(@city.id), :method => "get" %>
</div>



<div class="card" style="width: 20rem;">
  <img class="card-img-top" src="<%= @city.photoUrl %>">
  <div class="card-block">
   <% @posts.each do |post| %>
    <h4 class="card-title"><%= post.title %></h4>
    <p class="card-text"><%= post.content %></p>
      <% end %>
  </div>
</div>


<div class="cityPic">
	<img src="<%= @city.photoUrl %>"/>
</div>

<ul>
	<% @posts.each do |post| %>
		<h3><%= link_to post.title, city_post_path(post.id) %></h3><br>
		<li><%= post.content %></li><br>
	<% end %>
</ul>



