<div class="cityHeader">
	<h1><%= @city.name %>, <%= @city.location %></h1>
</div>

<div class="cityPic">
	<img src="<%= @city.photoUrl %>"/>
</div>
<ul>
	<% @posts.each do |post| %>
	<h3><%= post.title %></h3><br>
	<li><%= post.content %></li><br>
	<% end %>
</ul>
