<div class="cities-page">
	<!-- David's version of a jumbtron! -->
	<div class="container">
	  <div class="big-image">
	    <img src="<%= @city.photoUrl %>" class="big-image-jumbo">
	  </div>
	</div>

	<div class="city-show-page-header">
		<h2><%= @city.name %>, <%= @city.location %> </h2>
		<div id="add-post-button">
			<%= button_to "Add Post", new_city_post_path(@city.id), :method => "get" , :class => "buttonTo" %>
		</div>
	</div>
	
	<!-- The following div show posts, the author's pic and the date they were made. 
	Also the titles are clickable to allow the user to edit or delete. -->
	<div class="post-card-for-city" style="width: 70rem;">
	  <div class="post-card-block">
	   	<% @posts.each do |post| %>
				<div class="post-card-container">
		   		<img src="<%= post.user.user_photo %>"
		   				 alt="no user photo"
		   				 id="user-post-photo">
		   		<div class="post-card-text">
			    	<h4 class="card-title"><%= link_to post.title, city_post_path(post.city, post) %> <%= post.created_at.to_date %></h4>
			    	<p class="card-text"><%= post.content %></p>
		    	</div>
	    	</div>
	    <% end %>
	  </div>
	</div>
</div>



