<div class="cities-page">

<div class="cityHeader">
	<h1><%= @city.name %>, <%= @city.location %></h1>
<%= button_to "Add Post", new_city_post_path(@city.id), :method => "get" , :class => "buttonTo" %>
</div>


<div class="card" style="width: 20rem;">
  <img class="card-img-top" src="<%= @city.photoUrl %>" style="height:180px; width:318px;">
  <div class="card-block">
   <% @posts.each do |post| %>
    <h4 class="card-title"><%= link_to post.title, city_post_path(post.city, post) %></h4>
    <p class="card-text"><%= post.content %></p>
      <% end %>
  </div>
</div>
</div>

