<div class="cityHeader">
	<h1><%= @city.name %>, <%= @city.location %></h1>
</div>

<div class="cityPic">
	<img src="<%= @city.photoUrl %>"/>
</div>
<ul>
	<% @posts.each do |post| %>
	<li><%= post.title %></li>
	<li><%= post.content %></li>
	<% end %>
</ul>
