<div class="cities-page">



<div class="cityHeader">
	<h1><%= @city.name %>, <%= @city.location %></h1>
</div>



<div class="card" style="width: 20rem;">
  <img class="card-img-top" src="<%= @city.photoUrl %>" style="height:180px; width:318px;">
  <div class="card-block">
   <% @posts.each do |post| %>
    <h4 class="card-title"><%= post.title %></h4>
    <p class="card-text"><%= post.content %></p>
    <%= button_to "Add Post", new_city_post_path(@city.id), :method => "get" %>
      <% end %>
  </div>
</div>

