<!DOCTYPE html>
<html>
  <head>
    <title>GoingPlaces</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>



  <header>

  <div id='logo'>
      goingplaces
  </div>

    <nav>
     	<ul>
     		<li><%= link_to "Home", home_path %></li>
     		<li><%= link_to "About", about_path %></li>
     	</ul>
   </nav>
 </header>







 <!-- devise logic  -->
 	<% if notice %>
 		<p class ="alert alert-success"><%= notice %></p>
 	<% end %>
 	<% if alert %>
 		<p class ="alert alert-danger"><%= alert %></p>
 	<% end %>

    <%= yield %>
  </body>
</html>
